.navigation {
  display: flex;
  //justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  //background-color: #cf0000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap: 1rem;

  position: sticky;
  top: 0;
  height: 5%;
  width: 100%;
  box-sizing: border-box;
  z-index: 9999;
}

.logo {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 0.95rem;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.nav-buttons {
  display: flex;
  gap: 1rem;
}

.nav-btn {
  background-color: transparent;
  border: none;
  //font-weight: bolder;
  font-size: 1.1rem;
}