$primary-color: #edf7fe;
$secondary-color: #92929b;
$secondary-color-dark: #000;
$secondary-color-bright: #fff;
$secondary_color_text: #296aa5;
$secondary_color_button: #4273f6;
$modal-background-color: rgba(0,0,0,.5);
$main-background-color: #f4f4ff;
$button-background-color: #3d3d3d;

$grey-50: #F3F6F9;
$grey-100: #E5EAF2;
$grey-200: #DAE2ED;
$grey-300: #C7D0DD;
$grey-400: #B0B8C4;
$grey-500: #9DA8B7;
$grey-600: #6B7A90;
$grey-700: #434D5B;
$grey-800: #303740;
$grey-900: #1C2025;