@import "../styled/colors";

.root-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  padding: 0 1rem;
}

.root-container {
  display: flex;
  flex-grow: 1;

  padding: 1rem;
  background-color: $main-background-color;

  .main-container {
    display: flex;

    box-shadow: 0 0 2px rgba(58, 66, 75, .1), 0 2px 4px rgba(58, 66, 75, .2);
    background-color: $secondary-color-bright;
    width: 100%;
    border-radius: 1rem;

    .content-container {
      display: flex;
      flex-direction: column;
      flex: 1;

      padding: 1rem;
    }
  }
}